// Import all SCSS files from the base directory
@import "base/variables";
@import "base/base";
@import "base/buttons";
@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/typography";

// Custom styles
.container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.form-container {
  width: 500px;
}

.pizza_logo {
  width: 100px;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  z-index: 1000;
}
